.newslettersubscription-component {
  margin-top: 80px !important;

  .ta-image {
    @media all and (max-width: 764px) {
      max-height: 45vh;
      overflow-y: hidden;
      border-bottom: 1px solid #eee;
    }
  }
}
