.masthead-component.masthead-component.masthead-component {
  position: absolute;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  padding: 0;

  .logo {
    margin: 1.414ex 0;
    max-height: 2rem;
    width: auto;
  }
}

.masthead-component.masthead-component + * > * > *:first-child:before {
  content: '';
  display: block;
  height: 80px;
}
